{% extends '../index.twig' %}
{% block container %}
    <div class="container">
        <h1> Detials projets de la sessions {{ Sessions.Name }}</h1>
        <table id="TableSession" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="th-sm">Type </th>
                <th class="th-sm">Nom du projet</th>
                <th class="th-sm">{{label}}</th>

            </tr>
            </thead>

            <tbody>
            {% for Session in Sessions.Project %}
            <tr>


                    <td> {{ Session.createdBy.TypeLabel.type }}</td>
                    <td> {{ Session.Name }} </td>
                    <td>{{ Session.Project.members[0].LastName }}</td>


            </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}